body {
	background-color: #1F2338;
	color: white;
	font-family: dejavu;
}

#NavMenu {
	border: 2px solid white;
	width: 200px;	
	border-radius: 25px;
	padding: 10px;
}

a {
	no-decoration: none;
	color: white;
}

#Contents {
	padding-left:200px;
	padding-right:200px;
}
